html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #1F8550;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 125%;
  font-weight: 300;
}

#command-center {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

#command-center a {
  background: #FFA859; 
  padding: 0em .2em;
  border-radius: 2px;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

#command-center h1 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;   
}

#command-center label {
  font-weight: 400;
}

#command-center .small {
 font-size: 80%;   
}