RewriteEngine On
RewriteBase /
# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)/$ /$1 [L,R=301]
RewriteRule ^join join.html [L]
RewriteRule ^coordinate coordinate.html [L]
RewriteRule ^release https://goo.gl/forms/sKzLxAgZZuXjq3S43 [R,L]
