RewriteEngine On
RewriteBase /
# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)/$ /$1 [L,R=301]
RewriteRule ^register register.html [L]
RewriteRule ^join register.html [L]
RewriteRule ^coordinate coordinate.html [L]
RewriteRule ^about #about [L,NE]
RewriteRule ^harvests #harvests [L,NE]
RewriteRule ^participate #participate [L,NE]
RewriteRule ^recipients #recipients [L,NE]
RewriteRule ^contact #contact [L,NE]
RewriteRule ^release https://goo.gl/forms/sKzLxAgZZuXjq3S43 [R,L]
RewriteRule ^donate https://www.paypal.com/us/fundraiser/charity/2129587 [R,L]
